<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm dữ liệu vào form nhé các bạn trẻ</title>
</head>

<body>
    <div class="container-flud">
        <form action="/addsinhvien" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="firstname">Nhập tên của sinh viên nhá</label> <br>
                <input type="text" name="firstname" placeholder="Vui lòng nhập tên của sinh viên vào nhá" id=""
                    class="form-control"> <br>
            </div>
            <div class="form-group">

                <label for="emai"></label> <br>
                <input type="text" name="email" placeholder="Vui lòng nhập tên của bạn vài nhá" class="form-control"
                    id="">
            </div>
            <label for=""></label>
            <input type="submit" class="btn btn-primary" value="ADD">
        </form>
    </div>
</body>

</html>